.customer-list {
    margin: 20px auto;
    max-width: 800px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.customer-list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
}

.customer-list-item-details {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.customer-list-item-actions {
    display: flex;
    align-items: center;
    gap: 10px;
}

.delete-btn {
    background-color: #dc3545;
}